
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

    <title>Responsive Navigation Menu - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../dist/css/leftnavimenu.css" media="screen" title="no title" charset="utf-8">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../dist/css/dashboard.css" rel="stylesheet">
    <script src="../dist/js/ie-emulation-modes-warning.js"></script>

    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height());
          // window.parent.postMessage( iframe_height, 'http://bootsnipp.com');
        });
        // console.log('<%-JSON.stringify(data)%>')
    </script>
</head>
<body>


<div class="nav-side-menu">
    <div class="brand">Roast Meister Admin</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li class="active collapsed active" data-toggle="collapse" data-target="#userside">
                  <a href="#">자동완성<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse in" id="userside">
                    <li class="active collapsed active"><a href="#">국가명</a></li>
                    <li><a href="#">농장-지역명</a></li>
                    <li><a href="#">품종멱</a></li>
                    <li><a href="#">로스팅 머신</a></li>
                    <li><a href="#">연료</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#">로스팅 자료<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>
                 <li><a href="#">Profile</a></li>
                 <li><a href="#">Users</a></li>
            </ul>
     </div>
</div>




<div class="main-body main">
  <h1 class="page-header">Dashboard</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>

  <h2 class="sub-header">Section title</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th><a onclick="reloadDataWithSortField('name');">Name <i id="name_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('count');">Count <i id="count_arrow" class="fa fa-caret-up"></i></a></th>
          <th><a onclick="reloadDataWithSortField('created_at');">Created Date <i id="created_at_arrow" class="fa fa-caret-down"></i></a></th>
          <th><a onclick="reloadDataWithSortField('updated_at');">Updated Date <i id="updated_at_arrow" class="fa fa-caret-down"></i></a></th>
        </tr>
      </thead>
      <tbody id="tablebody"></tbody>
      <script type="text/javascript">
        var data = <%-JSON.stringify(data)%>
        reloadDataWithSortField("count")


        var latestSort = {}
        function reloadDataWithSortField(sortby) {
          var order = 1
          if (latestSort[sortby] && latestSort[sortby]==1) {order = -1}
          latestSort[sortby] = order

          if (data[0] && data[0][sortby]) {
            data.sort(function (a, b) {
              if (a[sortby] > b[sortby]) {return (-1)*order;}
              else if (a[sortby] < b[sortby]) {return (1)*order;}
              else {return 0;}
            })
          }
          reloadData()

          $("#name_arrow").attr('class','fa fa-caret-down');
          $("#count_arrow").attr('class','fa fa-caret-down');
          $("#created_at_arrow").attr('class','fa fa-caret-down');
          $("#updated_at_arrow").attr('class','fa fa-caret-down');
          if (order==1) {// 내려가는거
          } else {
            $("#" + sortby + "_arrow").attr('class','fa fa-caret-up');
          }
        }
        function reloadData () {
          var html = ""
          for (var i=0; i<data.length; i++) {
            html += '<tr>'
            html += '<td>' + String(i+1)  + '</td>'
            html += '<td>' + data[i]["name"] + '</td>'
            html += '<td>' + data[i]["count"] + '</td>'
            html += '<td>' + data[i]["created_at"] + '</td>'
            html += '<td>' + data[i]["updated_at"] + '</td>'
            html += '</tr>'
          }
          $("#tablebody").html(html)
        }
      </script>
    </table>
  </div>
</div>
</body>
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/vendor/holder.min.js"></script>
<script src="../dist/js/ie10-viewport-bug-workaround.js"></script>
</html>
