<!DOCTYPE HTML>
<html>
<head>
  <style media="screen">
    html {
      background-color: #24344E;
    }
  </style>
  <script type="text/javascript">
  window.onload = function () {
    // var metadata = sampledata["metadata"]
    var tempdataArray = <%-JSON.stringify(sampledata["tempdataArray"])%>
    // var coffeeingdataArray = sampledata["coffeeingdataArray"]

    // console.log(JSON.stringify(tempdataArray))

    var drumtempDataPoints = []
    var potentialtempDataPoints = []
    var airtempDataPoints = []

    tempdataArray.sort(function (a,b) {
      if (a["time"] < b["time"])
        return -1;
      else if (a["time"] > b["time"])
        return 1;
      else
        return 0;
    })

    for (var i=0; i<tempdataArray.length; i++) {
      // console.log(tempdataArray[i]["drumtemp"])
      var time = tempdataArray[i]["time"]
      if (time == null || time == undefined) continue;
      var timesep = time.split(":")
      var min = 0
      var sec = 0
      if (timesep.length>0) min = parseInt(timesep[0])
      if (timesep.length>1) sec = parseInt(timesep[1])

      var timemiliseconde = (min*60 + sec) * 1000
      var date = new Date(timemiliseconde)
      if (tempdataArray[i]["drumtemp"] && tempdataArray[i]["drumtemp"] != 0) {
        var temp = parseFloat(tempdataArray[i]["drumtemp"])
        drumtempDataPoints.push({x: date,y: temp})
      }
      if (tempdataArray[i]["potentialtemp"] && tempdataArray[i]["potentialtemp"] != 0) {
        var temp = parseFloat(tempdataArray[i]["potentialtemp"])
        potentialtempDataPoints.push({x: date,y: temp})
      }
      if (tempdataArray[i]["airtemp"] && tempdataArray[i]["airtemp"] != 0) {
        var temp = parseFloat(tempdataArray[i]["airtemp"])
        airtempDataPoints.push({x: date,y: temp})
      }
    }

    // console.log(sampledata)
    var axisColor = "#444444"
    var chart = new CanvasJS.Chart("chartContainer", {
      title:{
      text: "Carloz Sample Data"
      },
      backgroundColor: "#16212F",
      axisX:{
        valueFormatString: "m:s",
        gridColor: axisColor,
        lineColor: axisColor,
        tickColor: axisColor,
        labelFontSize: 14,
        labelFontFamily: "Helvetica",
        // interlacedColor: "#555555"
      },
      axisY:{
        // valueFormatString: "mm:ss",
        gridColor: axisColor,
        lineColor: axisColor,
        tickColor: axisColor,
        labelFontSize: 14,
        labelFontFamily: "Helvetica",
        // interlacedColor: "#555555"
      },
      data: [{
        type: "spline",
        color: "#FD555B",
        dataPoints: drumtempDataPoints
      }, {
        type: "spline",
        color: "#2866C5",
        dataPoints: potentialtempDataPoints
      }, {
        type: "spline",
        color: "#2DBE85",
        dataPoints: airtempDataPoints
      }]
    });

    chart.render();
  }
  </script>
 <script type="text/javascript" src="dist/js/canvasjs.min.js"></script></head>
<body>
  <div style="padding: 8px 20px; background-color: #16212F;">
    <div id="chartContainer" style="height: 440px; width: 100%;">
    </div>
  </div>

</body>
</html>
