<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript">
  window.onload = function () {
    var sampledata = <%-JSON.stringify(sampledata)%>

    var metadata = sampledata["metadata"]
    var tempdataArray = sampledata["tempdataArray"]
    var coffeeingdataArray = sampledata["coffeeingdataArray"]

    // console.log(JSON.stringify(tempdataArray))

    var drumtempDataPoints = []
    var potentialtempDataPoints = []
    var airtempDataPoints = []

    tempdataArray.sort(function (a,b) {
      if (a["time"] < b["time"])
        return -1;
      else if (a["time"] > b["time"])
        return 1;
      else
        return 0;
    })

    for (var i=0; i<tempdataArray.length; i++) {
      // console.log(tempdataArray[i]["drumtemp"])
      var time = tempdataArray[i]["time"]
      if (time == null || time == undefined) continue;
      var timesep = time.split(":")
      var min = 0
      var sec = 0
      if (timesep.length>0) min = parseInt(timesep[0])
      if (timesep.length>1) sec = parseInt(timesep[1])

      var timemiliseconde = (min*60 + sec) * 1000
      var date = new Date(timemiliseconde)
      if (tempdataArray[i]["drumtemp"] && tempdataArray[i]["drumtemp"] != 0) {
        var temp = parseFloat(tempdataArray[i]["drumtemp"])
        drumtempDataPoints.push({x: date,y: temp})
      }
      if (tempdataArray[i]["potentialtemp"] && tempdataArray[i]["potentialtemp"] != 0) {
        var temp = parseFloat(tempdataArray[i]["potentialtemp"])
        potentialtempDataPoints.push({x: date,y: temp})
      }
      if (tempdataArray[i]["airtemp"] && tempdataArray[i]["airtemp"] != 0) {
        var temp = parseFloat(tempdataArray[i]["airtemp"])
        airtempDataPoints.push({x: date,y: temp})
      }
    }

    // console.log(sampledata)
    var chart = new CanvasJS.Chart("chartContainer", {
      title:{
      text: "Carloz Sample Data"
      },
      axisX:{valueFormatString: "mm:ss"},
      data: [{
        type: "spline",
        color: "#FD555B",
        dataPoints: drumtempDataPoints/*[
        { x: new Date(10*1000), y: 21 },
        { x: new Date(20*1000), y: 25},
        { x: new Date(30*1000), y: 20 },
        { x: new Date(40*1000), y: 25 },
        { x: new Date(50*1000), y: 27 },
        { x: new Date(60*1000), y: 28 },
        { x: new Date(70*1000), y: 28 },
        { x: new Date(80*1000), y: 24 },
        { x: new Date(90*1000), y: 26}]*/
      }, {
        type: "spline",
        color: "#2866C5",
        dataPoints: potentialtempDataPoints/*[
        { x: new Date(10*1000), y: 31 },
        { x: new Date(20*1000), y: 35},
        { x: new Date(30*1000), y: 30 },
        { x: new Date(40*1000), y: 35 },
        { x: new Date(50*1000), y: 35 },
        { x: new Date(60*1000), y: 38 },
        { x: new Date(70*1000), y: 38 },
        { x: new Date(80*1000), y: 34 },
        { x: new Date(90*1000), y: 44}]*/
      }, {
        type: "spline",
        color: "#2DBE85",
        dataPoints: airtempDataPoints/*[
        { x: new Date(10*1000), y: 45 },
        { x: new Date(20*1000), y: 50},
        { x: new Date(30*1000), y: 40 },
        { x: new Date(40*1000), y: 45 },
        { x: new Date(50*1000), y: 45 },
        { x: new Date(60*1000), y: 48 },
        { x: new Date(70*1000), y: 43 },
        { x: new Date(80*1000), y: 41 },
        { x: new Date(90*1000), y: 28}]*/
      }]
    });

    chart.render();
  }
  </script>
 <script type="text/javascript" src="dist/js/canvasjs.min.js"></script></head>
<body>
  <div id="chartContainer" style="height: 350px; width: 100%;">
  </div>
</body>
</html>
