<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roast Meister</title>

    <style media="screen">
    html {
      background: url("http://s30.postimg.org/uvcoj0noh/coffee_bg.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    </style>
  </head>
  <body>

  </body>
</html>
