
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">

    <title>Responsive Navigation Menu - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../dist/css/dashboard.css" rel="stylesheet">
    <script src="../dist/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="../dist/js/canvasjs.min.js"></script></head>


    <link rel="stylesheet" href="../dist/css/leftnavimenu.css" media="screen" title="no title" charset="utf-8">

    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />');
            else $('head > link').filter(':first').replaceWith(defaultCSS);
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height());
          // window.parent.postMessage( iframe_height, 'http://bootsnipp.com');
        });
    </script>

</head>
<body>


<div class="nav-side-menu">
    <a href="/" class="brand"><div class="brand">Roast Meister Admin</div></a>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
              <%
                var photourl = null;
                if (user.facebook && user.facebook.photourl) {
                  photourl = user.facebook.photourl
                } else if (user.twitter && user.twitter.photourl) {
                  photourl = user.twitter.photourl
                } else if (user.google && user.google.photourl) {
                  photourl = user.google.photourl
                }
                console.log("user.local.name: " + user.local.email)
              %>
              <a href="/profile"><li><del style="opacity: 0.5;">내 프로필</del>
                <% if (photourl) { %>
                <div style="float: right; text-align: center;"><div class="center-cropped img-circle" style="background-image: url(<%= photourl %>); width: 38px; height: 38px; margin: 6px 6px; vertical-align: middle;"></div></div>
                <% } else if (user.local && user.local.email == "admin") { %>
                <span style="float: right; text-align: center; font-size: 13px; margin-right: 10px;"><b>Admin</b></span>
                <% } %>
              </li></a>
              <a><li class="collapsed" data-toggle="collapse" data-target="#userside">
                자동완성<span class="arrow"></span>
              </li></a>
                </li></a>
                <ul class="sub-menu collapse" id="userside">
                    <a href="/autocomplete/countrys"><li id="nation_li">국가명</li></a>
                    <a href="/autocomplete/provinces-districts"><li id="farm_li">농장-지역명</li></a>
                    <a href="/autocomplete/varieties"><li id="beankind_li">품종멱</li></a>
                    <a href="/autocomplete/machines"><li id="machine_li">로스팅 머신</li></a>
                    <a href="/autocomplete/fauls"><li id="faul_li">연료</li></a>
                </ul>
                <a href="#"><li data-toggle="collapse" data-target="#service" class="collapsed">
                  로스팅 자료<span class="arrow"></span>
                </li></a>
                <ul class="sub-menu collapse" id="service">
                  <a href="/roasting/sampledata1"><li>Sample Data 1</li></a>
                  <li><del style="opacity: 0.5;">Sample Data 2</del></li>
                  <li><del style="opacity: 0.5;">Sample Data 3</del></li>
                </ul>
                <% if (user.canGroup("Monitor")) { %>
                <a href="/users"><li class="active collapsed active">사용자</li></a>
                <% } %>
                <a href="/logout"><li>로그아웃</li></a>

            </ul>
     </div>
</div>




<div class="main-body main">
  <div id="alertdiv">

  </div>

  <% if (user.group == "Admin") { %>
  <div class="" style="float: right; margin-top: 15px;">
    <button type="button" class="btn btn-danger" onclick="deleteUsers();">사용자 전체 삭제</button>
  </div>
  <% } %>

  <h2 class="sub-header">모든 사용자</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="vertical-align: middle;">사진</th>
          <th style="vertical-align: middle;"><a onclick="reloadDataWithSortField('social_name');">사용자 이름 <i id="name_arrow" class="fa fa-caret-down"></i></a><br>
          <a onclick="reloadDataWithSortField('social_email');">이메일 <i id="email_arrow" class="fa fa-caret-up"></i></a></th>
          <th style="vertical-align: middle;"><a onclick="reloadDataWithSortField('social');">SNS 연결 <i id="social_arrow" class="fa fa-caret-up"></i></a><br>
          토큰</th>
          <th style="vertical-align: middle;"><a onclick="reloadDataWithSortField('group');">권한 <i id="group_arrow" class="fa fa-caret-up"></i></a></th>

          <th style="vertical-align: middle;"><a onclick="reloadDataWithSortField('created_at');">생성 날짜 <i id="created_at_arrow" class="fa fa-caret-down"></i></a><br>
          <a onclick="reloadDataWithSortField('updated_at');">갱신 날짜 <i id="updated_at_arrow" class="fa fa-caret-down"></i></a></th>
        </tr>
      </thead>
      <tbody id="tablebody"></tbody>
    </table>
  </div>
</div>
</body>
<script type="text/javascript">
  var origindata = <%-JSON.stringify(data)%>
  var latestSort = {};
  var sortbys = ["name", "social", "email", "group", "created_at", "updated_at"]

  var data = []
  for (var i=0; i<origindata.length; i++) {
    var user = {
      _id             : origindata[i]["_id"],
      group           : origindata[i]["group"],
      created_at      : origindata[i]["created_at"],
      updated_at      : origindata[i]["updated_at"],
    };
    if (origindata[i].facebook && origindata[i].facebook.token) {
      // facebook
      user.social          = "Facebook";
      user.social_id       = origindata[i].facebook.id;
      user.social_token    = origindata[i].facebook.token;
      user.social_name     = origindata[i].facebook.name;
      user.social_email    = origindata[i].facebook.email;
      user.social_photourl = origindata[i].facebook.photourl;
    } else if (origindata[i].twitter && origindata[i].twitter.token) {
      // twitter
      user.social          = "Twitter";
      user.social_id       = origindata[i].twitter.id;
      user.social_token    = origindata[i].twitter.token;
      user.social_name     = origindata[i].twitter.displayName;
      user.social_email    = "-";
      user.social_photourl = origindata[i].twitter.photourl;
    } else if (origindata[i].google && origindata[i].google.token) {
      // google
      user.social          = "Google+";
      user.social_id       = origindata[i].google.id;
      user.social_token    = origindata[i].google.token;
      user.social_name     = origindata[i].google.name;
      user.social_email    = origindata[i].google.email;
      user.social_photourl = origindata[i].google.photourl;
    } else if (origindata[i].local && origindata[i].local.email) {
      // google
      user.social          = "Local";
      user.social_id       = "-";
      user.social_token    = "-";
      user.social_name     = origindata[i].local.email;
      user.social_email    = origindata[i].local.email;
      user.social_photourl = null;
    }
    data.push(user)
  }

  $( document ).ready(function() {

    // data를 정렬 및 화면에 뿌림
    reloadDataWithSortField()

    // data를 기반으로 상단의 차트 표시
    // reloadChartData(data)

  });

  function reloadDataWithSortField (sortby) {
    var order = 1
    if (latestSort && latestSort[sortby] != null && latestSort[sortby]==1) {order = -1}
    latestSort = {}
    latestSort[sortby] = order

    if (sortby && data[0] && data[0][sortby]) {
      data.sort(function (a, b) {
        if (a[sortby] > b[sortby]) {return (-1)*order;}
        else if (a[sortby] < b[sortby]) {return (1)*order;}
        else {return 0;}
      })
    }

    reloadData(data);

    for (var i=0; i<sortbys.length; i++) {
      $("#" + sortbys[i] + "_arrow").attr('class','fa fa-caret-down');
      $("#" + sortbys[i] + "_arrow").css('opacity', '0.5');
    }
    if (sortby) {
      if (order!=1) {$("#" + sortby + "_arrow").attr('class','fa fa-caret-up');}
      $("#" + sortby + "_arrow").css('opacity', '1');
    }
  }
  function reloadData (data) {
    var html = ""

    var groups = <%-JSON.stringify(user.groups())%>;
    for (var i=0; i<data.length; i++) {
      var imgtag = ''
      if (data[i]["social_photourl"]) {
        imgtag = '<div class="center-cropped img-circle" style="background-image: url(' + data[i]["social_photourl"] + ');"></div>'
      } else if (data[i]["social_name"].toLowerCase() == "admin" && data[i]["social_email"].toLowerCase() == "admin") {
        imgtag = "<span style='font-size: 18px;'><b>Admin</b></span>"
      }
      var socialtag = '<span>' + data[i]["social"] + '</span>'
      var social_token = data[i]["social_token"]
      var thum_social_token = social_token
      if (social_token && social_token.length>17) {
        thum_social_token = social_token.substring(0, 17) + "...";
      }
      html += '<tr>'
      html +=   '<td style="vertical-align: middle;">' + imgtag                 + '</td>'
      html +=   '<td style="vertical-align: middle;"><b>' + data[i]["social_name"] + '</b><br>'
      html +=   '' + data[i]["social_email"]+ '</td>'
      html +=   '<td style="vertical-align: middle;">' + socialtag + '<br>'
      html +=   '<span style="font-family: Courier, Courier New", monospace;">' + thum_social_token      + '</span></td>'
      html +=   '<td style="vertical-align: middle;">'
      <% if (user.canGroup("Admin")) { %>
        if (data[i]["group"] == "Admin") html += '<select disabled>';
        else html += '<select onchange="changeGroupValue(this.value, ' + i + ');">';
        for (var j=0; j<groups.length; j++) {
          html += '<option value="' + groups[j] + '\"'
          if (groups[j] == data[i]["group"]) html += ' selected'
          if (groups[j] == "Admin") html += ' disabled'
          html += '>'
          html += groups[j] + '</option>';
        }
        html += '</select>';
      <% } else { %>
        html += data[i]["group"];
      <% } %>
      html += '</td>'
      html +=   '<td style="vertical-align: middle;">' + data[i]["created_at"]  + '<br>'
      html +=   '' + data[i]["updated_at"]  + '</td>'
      html += '</tr>'
    }
    $("#tablebody").html(html)
  }


  <% if (user.group == "Admin") { %>
  function deleteUsers() {
    $.ajax({
        url: '/users',
        type: 'DELETE',
        success: function(result) {
            // Do something with the result
            location.reload();
        }
    });
  }
  function changeGroupValue(value, index) {
    var param = {
      group: value
    }
    $.ajax({
        url: '/user/'+data[index]["_id"],
        type: 'PUT',
        data: param,
        success: function(result) {
            // Do something with the result
            var html = ""
            if (result.err) {
              html += '<div class="alert alert-danger alert-dismissible fade in" role="alert">'
              html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
              html += '<strong>Failed!</strong> UPDATE :: id:' + data[index]["_id"] + ', group:' + value
              html += '</div>'

            } else {
              html += '<div class="alert alert-success alert-dismissible fade in" role="alert">'
              html += '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>'
              html += '<strong>Success!</strong> UPDATE :: id:' + data[index]["_id"] + ', group:' + value
              html += '</div>'

            }
            $("#alertdiv").html(html)
        },
        error:function(request,status,error){
            console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
    });
  }
  <% } %>

  </script>
  <style media="screen">

  </style>

<script src="../dist/js/bootstrap.min.js"></script>
<script src="../dist/js/vendor/holder.min.js"></script>
<script src="../dist/js/ie10-viewport-bug-workaround.js"></script>
</html>
